
<div class='form'>
<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Number of pages</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
    <thead >
      <tr>
        <td><%= book.title %></td>
        <td><%= book.number_of_pages %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </thead>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path, class: "btn btn-success" %>
</div>
<style>
  .form {
    color: #4949BC;
    padding-left: 20%;
    padding-top: 30px;
    padding-bottom: 25%;
    background: #D3D3D3;

    
  }
  table {
    max-width: 800px;
  }
</style>