<!DOCTYPE html>
<html>
  <head>
    <title>Books App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= javascript_importmap_tags %>
  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'Home', root_path, class:"navbar-brand align-top"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Books", books_path, class: "nav-link active"%>
        </li>
            <li class="nav-item">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete,class: "nav-link active"%>
        </li>
        <li class="nav-item">
            <%= link_to "Edit Profile", edit_user_registration_path,class: "nav-link active"%>
        </li>
        <% else %>
        <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link active"%>
        </li>
        <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: "nav-link active"%>
        </li>
          <% end %>
        
      </ul>
</div>
</div>
</nav>

    <%= yield %>
  </body>
</html>
<style>
  * {
    background: "#4949BC"
  }
</style>


